@tailwind base;
@tailwind components;
@tailwind utilities;

.userData{  
    position: relative;
}



.togglebutton{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 100%;
}
  

.mobile-menu {
    top: 0;
    left: -250px;
    width: 250px;
    background-color: #fff;
    transition: left 0.3s ease;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;
    
  }
  
  .slide-in {
    left: 0; 
  }




 
::-webkit-scrollbar {
    width: 3px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a7a7a7; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }